extends layout-ES

block content
  header
    h2.color Libros
  a(href='')
    blockquote.outline
      cite
        span.color &ldquo;
        | La mente estaba soñando. El mundo era su sueño.
        span.color &rdquo;
        br
        | Jorge Luis Borges
  section.book-recomendation-section
    header
      h2.color Libros Recomendados
    .books-box
      section.book-section
        h3.color.border-bottom Ciencias de la Computación
        ul
          li.book-element
            a(href='').book-title Goodfellow, Ian; Bengio, Yoshua; Courville, Aaron: Deep Learning
            p.book-description
          li.book-element
            a(href='').book-title Watt, Jeremy; Borhani, Reza; Katsaggelos, Aggelos K: Machine Learning Refined
            p.book-description
          li.book-element
            a(href='').book-title Haverbeke, Marijn: Eloquent Javascript
            p.book-description
          li.book-element
            a(href='').book-title Antonopoulos, Andreas M: Mastering Bitcoin
            p.book-description
      section.book-section
        h3.color.border-bottom Historia Religiosa
        ul
          li.book-element
            a(href='').book-title Eliade, Mircea: The Sacred and the Profane: The Nature of Religion
            p.book-description
          li.book-element
            p.book-title Eliade, Mircea: A History of Religious Ideas (
              a(href='') Vol.1 - From the Stone Age to the Eleusinian Mysteries
              | , 
              a(href='') Vol.2 - From Gautama Buddha to the Triumph of Christianity
              | , 
              a(href='') Vol.3 - From Muhammad to the Age of Reforms
              | )
            p.book-description
          li.book-element
            a(href='').book-title Eliade, Mircea: Patanjali and Yoga
            p.book-description
          li.book-element
            a(href='').book-title Eliade, Mircea: Yoga: Immortality and Freedom
            p.book-description
          li.book-element
            a(href='').book-title Asimov, Isaac: Asimov's Guide to the Bible
            p.book-description
      section.book-section
        h3.color.border-bottom Historia
        ul
          li.book-element
            p.book-title Escohotado, Antonio: Los Enemigos del Comercio (
             a(href='') Vol.1
             | , 
             a(href='') Vol.2
             | , 
             a(href='') Vol.3
             | )
            p.book-description
          li.book-element
            a(href='').book-title Herodotus: The Histories
            p.book-description
          li.book-element
            a(href='').book-title Solzhenitsyn, Aleksandr: The Gulag Archipelago
            p.book-description
          li.book-element
            a(href='').book-title Cicero, Marcus Tullius: How to Grow Old: Ancient Wisdom for the Second Half of Life
            p.book-description
          li.book-element
            a(href='').book-title Aurelius, Marcus: Meditations
            p.book-description
      section.book-section
        h3.color.border-bottom Psicología
        ul
          li.book-element
            a(href='').book-title Freud, Sigmund: The Interpretation of Dreams
            p.book-description
          li.book-element
            a(href='').book-title Jung, Carl: Aion
            p.book-description
          li.book-element
            a(href='').book-title Jung, Carl: Answer to Job
            p.book-description
          li.book-element
            a(href='').book-title Jung, Carl: Archetypes of the Collective Unconscious
            p.book-description
          li.book-element
            a(href='').book-title Jung, Carl: Modern Man in Search of a Soul
            p.book-description
          li.book-element
            a(href='').book-title Jung, Carl: Psychology and Alchemy
            p.book-description
          li.book-element
            a(href='').book-title Jung, Carl: Psychology of Religion: East and West
            p.book-description
          li.book-element
            a(href='').book-title Jung, Carl: Symbols of Transformation
            p.book-description
          li.book-element
            a(href='').book-title Piaget, Jean: Play, Dreams and Imitation in Childhood
            p.book-description
          li.book-element
            a(href='').book-title Rogers, Carl: A Way of Being
            p.book-description
          li.book-element
            a(href='').book-title Rogers, Carl: On Becoming a Person
            p.book-description
      section.book-section
        h3.color.border-bottom Literatura / filosofia
        ul
          li.book-element
            a(href='').book-title Dostoevsky, Fyodor: Crime and Punishment
            p.book-description
          li.book-element
            a(href='').book-title Dostoevsky, Fyodor: Notes from Underground
            p.book-description
          li.book-element
            a(href='').book-title Dostoevsky, Fyodor: The Brothers Karamazov
            p.book-description
          li.book-element
            a(href='').book-title Hemingway, Ernest: The Old Man and The Sea
            p.book-description
          li.book-element
            a(href='').book-title Huxley, Aldous: Brave New World
            p.bok-description
          li.book-element
            a(href='').book-title Kessey, Ken: One Flew Over the Cuckoo's Nest
            p.book-description
          li.book-element
            a(href='').book-title Nietzsche, Friedrich: Beyond Good and Evil
            p.book-description
          li.book-element
            a(href='').book-title Orwell, George: 1984
            p.book-description
          li.book-element
            a(href='').book-title Steinbeck, John: Of Mice and Men
            p.book-description
          li.book-element
            a(href='').book-title Tolstoy, Leo: Anna Karenina
            p.book-description
          li.book-element
            a(href='').book-title Tolstoy, Leo: War and Peace
            p.book-description
          li.book-element
            a(href='').book-title Wolfe, Tom: The Electric Kool Aid Acid Test
            p.book-description
      section.book-section
        h3.color.border-bottom Siglo XXI
        ul
          li.book-element
            a(href='').book-title Pinker, Steven: Enlightenment Now: The Case for Reason, Science, Humanism, and Progress
            p.book-description
          li.book-element
            a(href='').book-title Pinker, Steven: The Sense of Style
            p.book-description
          li.book-element
            a(href='').book-title Peterson, Jordan B: Maps of Meaning
            p.book-description
          li.book-element 
            a(href='').book-title Peterson, Jordan B: 12 Rules for Life: An Antidote to Chaos
            p.book-description
          li.book-element
            a(href='').book-title Dennet, Daniel C: Intuition Pumps and Other Tools for Thinking
            p.book-description
          li.book-element
            a(href='').book-title C.J. Van Vliet: The Coiled Serpent
            p.book-description
      p Ángel Casas Pescador participa en la plataforma de afiliados en los Servicios de Amazon, un programa de afiliados diseñado para proveer a páginas web con un la capacidad de obtener cuotas por anunciar y enlazar contenido de Amazon.com.
        | En términos mas humanos, esto quiere decir que cada vez que alguien compra en 
        a(href='') Amazon 
        | a través de uno de mis enlaces, yo gano un pequeño porcentaje de su precio.
        a(href='') Privacy policy 
