extends layout-ES

block content
  header
    h3.color Borrar Post
  h4.color= post.español.title
  p= post.español.preview
  form(method='POST', action='delete')
    input(type='submit', class='form-button', value='Delete')
