extends layout

block content
  header
    h2.color Edit Post
  form(method='POST', action=post.url + '/edit')
    label(for='title') Title
    input(name='title', class='form-input', type='text', value= post.title, required)
    label(for='content') Content
    textarea(name='content', class='form-textarea', type='text', placeholder='Content', rows='10', cols='50')= post.body
    label(for='preview') Preview
    textarea(name='preview', class='form-textarea', type='text' placeholder='preview', rows='5', cols='50')= post.preview
    label(for='tags') Tags
    input(name='tags', class='form-input', type='text', value=post.tag_list)
    select(name='section', required)
      option(value='ml') Machine Learning
      option(value='bitcoin') Bitcoin
      option(value='nature') Nature
    input(type='submit', class='form-button', value='Submit')
