extends layout-ES

block content
  section.ml-projects
    header
      h2.color Proyectos de Aprendizaje Automático
    p.project-intro Aqui es donde desarrollo todas mis ideas y proyectos. Cada proyecto va acompañado de un post enseñando mi proceso de pensamiento 
      | y los problemas que me encuentro mientras desarrollo los proyectos. Estos proyectos no son estáticos ni están acabados, pues es mi intención 
      | seguir mejorandolos y seguir obteniendo opiniones y críticas de los usuarios son una gran parte de este proceso.
      | Asi que por favor disfruten leyendo los posts y usando mis aplicaciones. Cualquier sugerencia o mejora son bienvenidas y pueden ser transmitidas 
      | directamente a través de mi 
      a.border-bottom(href='/ES/about#contact') página de Contacto.
      
    .box-area
      .box
        a(href='')
          h3.color Traducción de Idiomas
          img(src='/images/projects/language-translation.png' alt='Language Translation image.' width='200px' height='200px')
          .detail
            p Generar un algoritmo de Traducción de Idiomas con un modelo basado en Seq2Seq. Este modelo es el que voy a utilizar en mi Blog!
            p.alert Trabajo en proceso
      .box
        a(href='')
          h3.color Generador de Lenguaje de Señas
          img(src='/images/projects/sign-language.png' alt='Sign Language image.' width='200px' height='200px')
          .detail
            p Traducir cualquier palabra al Lenguaje de señas con un modelo de Aprendizaje Automático
            p.alert Trabajo en proceso
      .box
        a(href='')
          h3.color Clasificador de Ropa
          img(src='/images/projects/clothing.jpg' alt='Cloting Classifier image.' width='200px' height='200px')
          .detail
            p Clasificar y ofrecer informacion sobre cualquier prenda basado en una foto utilizando un modelo de Aprendizaje Automático.
            p.alert Trabajo en proceso
      .box
        a(href='')
          h3.color Cabezas parlantes
          img(src='/images/projects/marcus.svg' alt='Marcus Aurelius lowpoly svg.' width='200px' height='200px')
          .detail
            p ¿Se imaginan una cabeza contandote una historia?
            p.alert Trabajo en proceso
            
  // end .ml-projects
  section.app-projects
    header
      h2.color Apps
    .box-area
      .box
        a(href='')
          h3.color Check
          img(src='/images/projects/checkIntro.png' alt='Check app image.' width='200px' height='200px')
          .detail
            p Check permite a amigos y familiares recompensar buenas acciones y objetivos establecidos entre ellos.
              | Las recompensas incluyen Tarjetas de Regalo o Bitcoin para premiar directamente el cumplimiento de un Objetivo o meta.
            p.alert Trabajo en proceso
      .box
        a(href='https://angel-casas.github.io/GameOfUr/')
          h3.color Game of Ur
          img(src='/images/projects/gameofur.png' alt='Game of Ur image.' width='200px' height='200px')
          .detail
            p El juego Real de Ur es un juego de estrategia para dos personas que fue jugado por primera vez en la 
              | antigua Mesopotamia durante el tercer Milenio BC.
            p.alert 
      .box
        a(href='https://angel-casas.github.io/IntelligenceGame/')
          h3.color El Zorro y La Gallina
          img(src='/images/projects/zorroygallinas.png' alt='Fox and Chicen game image.' width='200px' height='200px')
          .detail
            p El Zorro y La Gallina es un juego de mesa antiguo jugado en las Islas Canarias y en muchas partes de Europa que muestra 
              | un gran nivel de complejidad y habilidad aun teniendo unas reglas muy sencillas.
            p.alert 
  // end .app-projects
