/**** FONT *****/

@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/quattrocento-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Quattrocento'),
       url('/fonts/quattrocento-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quattrocento-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quattrocento-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quattrocento-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quattrocento-v11-latin-regular.svg#Quattrocento') format('svg'); /* Legacy iOS */
}

/**** VARIABLES ****/

:root {
  --main-gold: rgb(221, 182, 78);
  --main-blue: rgb(24, 132, 232);
  --main-grey: rgb(85, 86, 99);
  --light-blue: rgb(77, 223, 255);
  --light-grey: rgb(170, 170, 170);
  --main-black: rgb(59, 62, 64);
  --main-red: rgb(254, 82, 82);
}

/**** COMMON ATTRIBUTES ****/
html, body {
  height: 100%;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento', 'Times New Roman', serif;
  font-weight: normal;
  margin: .8em 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.75em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.25em;
}
h2:target,
h3:target,
h4:target {
  animation: highlight 1s ease-in-out;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--main-gold);
}
blockquote {
  background-color: rgba(0, 0, 0, .1);
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  padding: 1em .5em;
  margin: 1em;
}
blockquote > cite {
}

blockquote span {
  font-size: 1.5em;
  line-height: 0;
  padding: 0 .4em;
}
.color {
  color: var(--main-gold);
}
.right {
  float: right;
}
.left {
  float: left;
}
.border-bottom {
  border-bottom: 1px solid var(--main-gold);
}
.border-top {
  border-top: 1px solid var(--main-gold);
}
.border-right {
  border-right: 1px solid var(--main-gold);
}
.border {
  border: 1px solid var(--main-gold);
}
.outline {
  outline: 1px solid var(--main-gold);
  outline-offset: 5px;
}
.underline {
  text-decoration: var(--main-gold) underline;
}
figure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  clear: both;
}
figure img {
  width: 100%;
  max-width: 700px;
}
.inline-images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.caption-text {
  font-style: italic;
}
summary {
  cursor: pointer;
}
summary:focus {
  outline: none;
}
p {
  margin: 1em 0;
}
.post-entry li {
}
.error {
  color: var(--main-red) !important;
}
.error:hover {
  text-decoration: underline;
}
figure {
  padding: 1.5rem 0;
  background-color: rgba( 0, 0, 0, .1);
}
.videowrapper {
    position: relative;
    padding-bottom: 56.45%;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/**** WRAPPER ****/

html {
  background-color: var(--main-black);
  text-align: center;
  font-family: "Times New Roman", serif;
}
body {
}
.no-js {
  display: block;
}
.js {
  display: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block;
}
.numeral-list {
  counter-reset: numeral-counter;
}
.numeral {
  margin-left: 2rem;
  counter-increment: numeral-counter;
}
.numeral::before {
  content: counter(numeral-counter) '. ' !important;
  font-size: inherit !important;
}
.top-arrow {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: solid;
  border-color: var(--light-grey);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-135deg);
  z-index: 10000;
  -webkit-transform: rotate(-135deg);
}
.top-arrow:hover {
  border-color: var(--main-gold);
}
#wrapper {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
}
#language-label {
  position: fixed;
  top: 0;
  right: 10px;
  margin-top: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  opacity: .7;
  transition: opacity .5s ease-in-out;
}
#language-label:hover {
  opacity: 1;
}
#language-label span {
  position: relative;
}
#language-label span::after {
  content: '';
  width: 30%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -5px;
  right: 15px;
  transition: all .3s ease-in-out;
}
#language-label:hover span::after {
  right: 0px;
}
#language-input:checked + #language-label span::after {
  right: 60px;
}
#language-input:checked + #language-label:hover span::after {
  right: 80px;
}
#language-alt-links {
  position: fixed;
  top: 0;
  right: 10px;
  margin-top: 5px;
  color: white;
}
#language-alt-links a {
  margin: 0 .5rem;
}
#light-label {
  display: block;
  position: fixed;
  top: 0;
  left: 10px;
  color: white;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  opacity: .7;
  transition: opacity .5s ease-in-out;
}
#light-label:hover {
  opacity: 1;
}
#light-label span {
  position: relative;
}
#light-label span::after {
  content: "";
  width: 30%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -5px;
  left: 15px;
  transition: all .3s ease-in-out;
}
#light-label:hover span::after {
  left: 0px;
}
#light-input:checked + #light-label {
  color: black;
}
#light-input:checked + #light-label span::after {
  background: black;
  left: 40px;
}
#light-input:checked + #light-label:hover span::after {
  left: 60px;
}
#light-input:checked ~ #wrapper {
  background: white;
  color: black;
}
#light-input:checked ~ #wrapper .circle-icon-box .circle {
  border: 1px solid black;
}
#light-input:checked ~ #wrapper .circle-icon-box:hover .circle {
  border-color: var(--main-blue);
}
#light-input:checked ~ #wrapper .color {
  color: var(--main-blue);
}
#light-input:checked ~ #wrapper .border-top {
  border-top: 1px solid var(--main-blue);
}
#light-input:checked ~ #wrapper .border-right {
  border-right: 1px solid var(--main-blue);
}
#light-input:checked ~ #wrapper .border-bottom {
  border-bottom: 1px solid var(--main-blue);
}
#light-input:checked ~ #wrapper .border {
  border: 1px solid var(--main-blue);
}
#light-input:checked ~ #wrapper .outline {
  outline: 1px solid var(--main-blue);
  outline-offset: 5px;
}
#light-input:checked ~ #wrapper a:hover,
#light-input:checked ~ #wrapper a:focus {
  color: var(--main-blue);
}
#light-input:checked ~ #wrapper a {
  text-decoration-color: var(--main-blue);
}
#light-input:checked ~ #language-label {
  color: black;
}
#light-input:checked ~ #language-label span::after {
  background: black;
}
#light-input:checked ~ #wrapper li::before {
  color: var(--main-blue);
}
#light-input:checked ~ #wrapper .underline {
  text-decoration-color: var(--main-blue);
}
#light-input:checked ~ #top-arrow .top-arrow:hover {
  border-color: var(--main-blue);
}
/**** LOADER ****/

#loader-wrapper {
}

/**** HEADER ****/

#main-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 24px;
  padding: 0 1em;
}
#main-nav {
  width: 80%;
}
#main-nav-ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5em;
}
.circle-icon-box {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 5px 0;
}
.circle-icon-box .circle {
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .15s ease-in-out;
  margin: auto;
  transition: border-color .6s ease-in-out;
}
.circle-icon-box:hover .circle {
  border-color: var(--main-gold);
}
.circle-icon-box .big {
  width: 50px;
  height: 50px;
}
.circle-icon-box .medium {
  width: 25px;
  height: 25px;
  right: 25px;
  transform-origin: right;
  animation: clockwise-rotation 4s ease-in-out infinite;
}
.circle-icon-box .small {
  width: 15px;
  height: 15px;
  right: 35px;
  transform-origin: 25px center;
  animation: clockwise-rotation 4s ease-out infinite;

}
.circle-icon-box .tiny {
  width: 5px;
  height: 5px;
  left: 45px;
  transform-origin: -20px center;
  animation: clockwise-rotation 4s ease-in-out infinite;
}

/**** MAIN SECTION ****/

.aside-introduction {
  max-width: 400px;
}
#main-section {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.2rem;
}
#main-section header {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
#main-section header:before, #main-section header:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid var(--light-grey);
  margin: auto 1.2rem;
}
#main-section #intro-message {
  text-align: left;
  padding: 0 1em;
}
#main-section .index-post {
  width: 100%;
}
#main-section .index-tag-cloud {
  width: 100%;
}
#main-section .tag-cloud {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.nav-blog {
  display: inline-block;
  width: 100%;
  background-color: Rgba(0, 0, 0, .1);
}
.nav-blog a {
  display: inline-block;
  width: 100%;
  height: 100%;
  }
.nav-blog > ol {
  padding: 1rem .2rem;
  list-style: none;
  counter-reset: nav-counter;
}
.nav-blog li {
  padding: 1rem .2rem;
  text-align: center;
}
.nav-blog > ol > li {
  counter-increment: nav-counter;
}
.nav-blog > ol > li::before {
  content: counter(nav-counter, upper-roman);
  color: var(--main-gold);
}
.nav-blog ol > li:hover {
  background-color: Rgba(0, 0, 0, .1);
}
.nav-blog > ol > li > ol {
}
.current {
  background-color: rgba(0, 0, 0, .1);
}
.preview-ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all .4s ease-in-out;
  width: 100%;
}
.preview-li {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.post-preview {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}
.post-preview:hover {
  background: rgba(0, 0, 0, .1);
  transition: background .3s ease-in-out;
}
.post-preview > a {
  width: 100%;
}
.post-preview > p {
  width: 100%;
}
.post-preview .preview {
  display: block;
  width: 100%;
}
.post-date {
}
.post-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.post {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}
.entry-small {
  display: inline-block;
  width: 100%;
  flex-grow: 1;
}
.tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 1em 0;
}
.tags a {
  text-decoration: underline;
  text-decoration-color: var(--main-gold);
  font-weight: bold;
  margin: 0 .8em;
}
#entry {
  width: 100%;
  padding: 1.2rem 0;
}
#entry p {
  text-align: left;
}
#entry ul {
  text-align: left;
  margin: 2.5rem 0;
}
#entry ul li {
  list-style: none;
  padding: 10px 0;
}
#entry .post-entry > ul > li::before {
  content: '\2192';
  margin-right: 5px;
  line-height: 1rem;
  color: var(--main-gold);
}
li::marker {
  color: var(--main-gold);
}
#entry ul li ul > li {
  list-style: lower-roman;
  margin-left: 60px;
}
#entry a {
  text-decoration: underline;
  text-decoration-color: var(--main-gold);
}
#entry blockquote a {
  text-decoration: none;
}
#entry figure::after {
  content: 'CLICK THE IMAGE TO ENLARGE';
  color: var(--main-red);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
#entry figure:hover::after {
  opacity: 1;
}
#entry .intro-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  padding: 2.5rem .5rem;
  margin: 1rem 0;
}
#entry .intro-box blockquote {
  background-color: rgba(0, 0, 0, .7) !important;
  color: white !important;
}

#entry p > :first-child::first-letter {
  font-size: 8.8rem;
  font-family: "Playfair Display", "Times New Roman", serif;
  line-height: 7rem;
  padding: 0 5px 0 2px;
}
.blog-footer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: var(--light-grey);
}
#input-like {
  display: none;
}
.button-like {
  border: 2px solid var(--light-grey);
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  border-radius: 3rem;
  transition: all ease 0.3s;
  cursor: pointer;
}

.button-like span {
  margin-left: 0.5rem;
}
.button-like .icon {
  width: 14px;
  height: 14px;
  background: url('/images/like-red.png');
  background-size: 14px 14px;
  display: inline-block;
}

.button-like .icon,
.button-like span {
  transition: all ease 0.3s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .icon,
.button-like:focus span {
  color: var(--light-grey);
}

.button-like:hover {
  border-color: #cc4b37;
}

.button-like:hover .icon,
.button-like:hover span {
  color: #cc4b37;
}
.button-like:hover .icon {
  background: url('/images/like-red.png');
  background-size: 14px 14px;
}
#share-box .a2a_kit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.comment-ul {
  list-style: none;
}
.meta {
  margin: 1rem 0;
  line-height: 2.4rem;
}
.meta .author-name {
  color: inherit;
  text-transform: uppercase;
}
.comment-number {
}
.comment-number a {
  float: right;
  color: rgba(0, 0, 0, .4);
  text-decoration: none;
}
#blog-comments .quote {
  text-align: left;
  padding: .8rem 0.4rem;
}
form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}
form label {
  padding: 1.2rem 0;
}
input[type='text'] {
  border: none;
  padding: .8rem;
  margin: .8rem 0;
  border: 1px solid var(--main-gold);
}
input[type='text']:focus,
textarea:focus {
  box-shadow: 3px 3px var(--main-gold);
}
textarea {
  border: 1px solid var(--main-gold);
  padding: 1.2rem;
  margin: .8rem 0;
}
input[type='submit'] {
  border: 1px solid var(--main-gold);
  color: var(--main-gold);
  background-color: inherit;
  cursor: pointer;
  padding: .8rem;
}
input[type='submit']:hover {
  background-color: var(--main-gold);
  color: white;
}
.extra-aside {
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
}
.donation-box {
  width: 100%;
  padding: 1rem;
}
.donation-text p {
  margin: 1rem 0;
  word-wrap: break-word;
}
.donation-button {
  border: 1px solid var(--main-gold);
  border-radius: 5px;
  padding: .5rem;
  margin: 1rem;
}

/**** BOOKS ****/

.books-box {
  width: 100%;
}
.books-box .book-section {
  margin: 1.5rem 0;
}
.books-box .book-element {
  text-align: left;
  list-style: upper-roman;
  padding: 1rem;
}
.books-box a {
  text-decoration: underline;
  text-decoration-color: var(--main-gold);
}


/**** PROJECTS ****/

.ml-projects {
  width: 100%;
}
.app-projects {
  width: 100%;
}
.project-intro {
  margin: 2rem 0;
}
.box-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.box {
  width: 350px;
  height: 350px;
}
.box:hover .detail {
  opacity: 1;
}
.box a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.box img {
  border-radius: 5px;
}
.box .detail {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-flow: column nowrap;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0 .5rem;
  text-align: center;
  vertical-align: middle;
  transition: all .3s ease-in-out;
  background-color: rgba(0, 0, 0, .8);
}
.box .detail .alert {
  color: var(--main-red);
  font-weight: bold;
}

/**** ABOUT ****/

.about {
  text-align: left;
  padding: 5px;
}
.about h2,
.about h3 {
}
.about .presentationImg {
  display: block;
  margin: auto;
  width: 50%;
  min-width: 300px;
}
.about .watermark {
  display: block;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  color: var(--light-grey);
  text-align: center;
}
.about a {
  font-weight: bold;
}
.about a:hover {
  text-decoration: underline;
}
.about .presentation > ul {
  margin: 2.5rem 0;
}
.about li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid var(--light-grey);
}
.about .presentation > ul > li::before {
  content: '\2192';
  margin-right: 5px;
  color: var(--main-gold);
}
.about .presentation ul li ul {
  counter-reset: about-counter;
}
.about .presentation ul li ul > li {
  counter-increment: about-counter;
  margin-left: 60px;
}
.about .presentation ul li ul > li::before {
  content: counter(about-counter, lower-roman) ' ';
  color: var(--main-gold);
}
.about .row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.about .column {
  padding: 10px;
}
.about .images-group img {
  padding: 1rem;
}
.expandable:hover {
  opacity: 0.6;
  transition: all .5s ease-in-out;
}
.column img {
  margin-top: 12px;
  width: 300px;
}
/**** MAIN FOOTER ****/

#main-footer {
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  padding: 2rem;
}
.footer-personal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#footer-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.footer-div {
  height: 100%;
  width: 100%;
}
#footer-icons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#main-footer .footer-quote {
  opacity: .7;
  transition: opacity .5s ease-in-out;
}
#main-footer blockquote {
  background-color: inherit;
  font-family: 'Cinzel', serif;
}
#main-footer .footer-quote:hover {
  opacity: 1;
}
#main-footer a {
  text-decoration: underline;
}
#footer-icons a {
  position: relative;
}
#main-footer .logo {
  width: 50px;
  height: 100%;
  fill: var(--light-grey);
  background-position: center;
  transition: all .3s ease-in-out;
}
#main-footer .logo:hover {
  fill: var(--main-gold);
}
#footer-icons .logo-info {
  opacity: 0;
  transition: all .3s ease-in-out;
}
#footer-icons a:hover .logo-info {
  opacity: 1;
}
/**** MEDIA QUERIES ****/
@media (min-width: 500px) {
  .inline-figure {
    float: right;
    width: 300px;
    height: auto;
    margin-left: 2rem;
  }
}

/* Only stick if you can fit */
@media (min-width: 1000px) {
  #main-header {
    flex-flow: row nowrap;
  }
  .nav-blog {
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
    max-width: 300px;
    min-width: 200px;
  }
  #main-nav-ul {
    flex-flow: row nowrap;
  }
  .entry-small {
    width: auto;
  }
  .post-wrapper {
    flex-flow: row nowrap;
  }
  .extra-aside {
    max-width: 350px;
    min-width: 100px;
    margin-left: 1.5rem;
  }
  .post {
    min-width: 600px;
  }
  .footer-personal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer-quote {
    flex-grow: 2;
  }
  #footer-box {
    flex-flow: row nowrap;
    align-items: flex-end;
  }
  .footer-div {
    max-width: 400px;
  }
}
@media (max-height: 800px) {
  .nav-blog {
    position: relative;
    top: 0;
  }
}

/**** ANIMATIONS ****/

@keyframes clockwise-rotation {
  to {transform: rotate(360deg);}
}
@keyframes highlight {
  from {
    background-color: var(--light-blue);
  }
  to {
    background-color: transparent;
  }
}
